# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist

# Environment
.env
.env*.local

# Vercel
.vercel

# Misc
.DS_Store
*.tsbuildinfo
*.log
npm-debug.log*

# Testing
/coverage
/playwright-report
/test-results
